{% trans_default_domain trans_default_domain %}

<div class="card h-100">
    {% include '@EMSCH/template/include/picture.html.twig' with { 
        'picture': news,
        'class': 'card-img-top img-fluid w-100',
        'height': 140,
        'width': 400 
    } %}
    <div class="card-body">
        <h5 class="card-title" {{ emsch_admin_menu("ems://news:#{newsId}") }}>
            <a href="
                {%- if news.redirect_to|default(false) -%}
                    {{ "ems://object:#{news.redirect_to}"|emsch_routing }}
                {%- else -%}
                    {{ path('emsch_news_item_'~targetGroup, {'_locale': locale, year: news.search_dates|first|date('Y'), month: news.search_dates|first|date('m'), day: news.search_dates|first|date('d'), 'slug': news|locale_attr('slug_') }) }}
                {%- endif -%}">
                {{ news|locale_attr('title_') }}
            </a>
        </h5>
        <p class="card-text">
            {{ news|locale_attr('summary_')|replace(wyiwygReplaces)|emsch_routing }}
        </p>
    </div>
    {% if attribute(news, 'search_dates') is defined %}
        <div class="card-footer">
            <small class="text-muted">
                {{ 'published_date'|trans({ '%date%': news.search_dates|first|date('date_format'|trans)|replace(monthsTrans|default({})) }) }}
            </small>
        </div>
    {% endif %}
</div>