{% trans_default_domain trans_default_domain %}

{% set currentNavItem = false %}
{%- block nav_item_path -%}
{% spaceless %}
    {% if currentNavItem -%}
        {%- set url = '#' -%}
        
     
        {%- if currentNavItem.contentType in ['link'] -%}
            {% set link = emsch_search('link', {
                '_source': false,
                'query': {
                    'bool': {
                        'must' : [
                            {'term': { ("menu_#{locale}") : currentNavItem.id  } },
                            {'term': { ("show_#{locale}") : true  } }
                        ]
                    }
                    
                }
            }).hits.hits|first %}
            
            {% if link %}
                {%- set url = "ems://object:link:#{link._id}"|emsch_routing|raw -%}
            {% endif %}
        {% endif %}
        
        {% if url == '#' %}
            {% set slug = attribute(attribute(attribute(byTarget, locale), currentTarget.target_group).slugByUid, currentNavItem.id)|default(false) %}
            {% set parameters = {} %}
            {% if slug %}
                {% set parameters = { slug: slug } %}
            {% endif %}
             {%- set url = path("emsch_target_#{currentTarget.target_group}.#{locale}", parameters) -%}
        {% endif %}

        {{ url|raw }}
    {% endif %}
{% endspaceless %}
{%- endblock nav_item_path -%}

{% set targetMenu = currentTarget.menu|default("{}")|ems_json_menu_decode %}

<a class="skip-main" href="#main-content">{{ 'aria.skip-to-main-content'|trans }}</a>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path("emsch_target_#{targetGroup}.#{locale}") }}" id="logo">
        <img src="{{ asset("img/logo-#{locale}.png", 'emsch') }}" width="30" height="30" class="d-inline-block align-top" alt="{{ 'site.name'|trans }}">
        {{ 'site.name'|trans }} 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsHeader" aria-controls="navbarsHeader" aria-expanded="false" aria-label="{{ 'action.toggle-navigation'|trans }}">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsHeader">
        <ul class="navbar-nav mr-auto">
            {%- for level1 in targetMenu.structure|default([]) -%}
                {% set currentNavItem = level1 %}
                {% set level1Children = level1.children|default([])  %}
                {% set level1Path = block('nav_item_path') %}
                {% set level1Active = (level1Path in app.request.requestUri) %}
                
                {%- if level1Children|length == 0 -%}
                    <a id="item-{{ level1.id }}" class="nav-link {{ level1Active ? 'active' : '' }} {{ level1Path == '#' ? 'disabled' }}" href="{{ level1Path }}">{{ level1.label }}{% if level1Active %} <span class="sr-only">{{ 'aria.navbar.current'|trans }}</span>{% endif %}</a>
                {%- else -%}
                     <li class="nav-item dropdown {{ level1Active ? 'active' : '' }}">
                        <a class="nav-link dropdown-toggle" href="{{ level1Path }}" id="dropdown-{{ level1.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ level1.label }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown-{{ level1.id }}">
                            {%- for level2 in level1Children -%}
                                {% set currentNavItem = level2 %}
                                {% set level2Path = block('nav_item_path') %}
                                {% set level2Children = level2.children|default([]) %}
                                {% set level2Active = (level2Path in app.request.requestUri) %}
                                 <a id="item-{{ level2.id }}" class="dropdown-item {% if level2Active %}active{% endif %} {{ level2Path == '#' ? 'disabled' }}" href="{{ level2Path|raw }}">{{ level2.label }}{% if level2Active %} <span class="sr-only">{{ 'aria.navbar.current'|trans }}</span>{% endif %}</a>
                            {%- endfor -%}
                        </div>
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
        <form class="my-2 my-lg-0" action="{{ path(("emsch_search_#{targetGroup}.#{locale}")) }}" method="GET">
            <div class="input-group">
                <input name="q" class="form-control" type="text" placeholder="{{ 'search.placeholder'|trans }}" aria-label="{{ 'search'|trans }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i> {{ 'search'|trans }}</button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav navbar-lang d-flex flex-row d-md-none ">
            {% for lr in languageRoutes %}
                <li class="nav-item flex-fill text-center">
                    <a lang="{{ lr.locale }}" class="nav-link" href="{{ lr.route }}" title="{{ lr.language }}">{{ lr.language }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-right ml-1 d-none d-md-block">
        <li class="nav-item dropdown">
            {% if languageRoutes|length == 0 %}
                <a class="nav-link" href="#">{{ locale|upper }}</a>
            {% else %}
                <a class="nav-link dropdown-toggle" href="#" id="dropdownLocales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ locale|upper }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLocales">
                    {% for lr in languageRoutes %}<a lang="{{ lr.locale }}" class="dropdown-item" href="{{ lr.route }}">{{ lr.language }}</a>{% endfor %}
                </div>
            {% endif %}
        </li>
    </ul>
    {% if attribute(byTarget, locale)|default([])|length > 1 %}
        <ul class="nav navbar-nav navbar-right ml-1 d-none d-md-block">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownLocales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ currentTarget.title|upper }}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLocales">
                    {%- for target in targetConfigs|keys -%}
                        {% if target != currentTarget.target_group and attribute(attribute(byTarget, locale), target)|default(false) %}
                            <a class="dropdown-item" href="{{ path("emsch_target_#{target}.#{locale}") }}">   {{ attribute(attribute(byTarget, locale), target).title }}</a>
                        {% endif %}
                    {%- endfor -%}
                </div>
            </li>
        </ul>
    {% endif %}
</nav>