{% extends '@EMSCH/template/base/base.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block head -%}
    <link rel="stylesheet" href="{{ asset('css/index.css', 'emsch') }}">
{%- endblock %}

{% block javascript -%}
    <script type="application/javascript" src="{{ asset('form.js', 'emsform') }}"></script>
    <script src="{{ asset('js/index.js', 'emsch') }}"></script>
{%- endblock %}

{% block body -%}
    <a class="skip-to-content" href="#content">{{ 'aria.skip-to-content'|trans }}</a>
    {{ render_esi(controller('emsch.controller.embed::fragment', {
        template: '@EMSCH/template/fragments/header.html.twig',
        context: {
            trans_default_domain: trans_default_domain,
            locale: locale,
            structure: 'structure:ZZpgI38B0UG6UUhkFHG3',
        },
    })) }}
    <main role="main" id="content">
        <div class="container">
            {% block main -%}{%- endblock main %}
        </div>
    </main>
    {{ render_esi(controller('emsch.controller.embed::fragment', {
        template: '@EMSCH/template/fragments/footer.html.twig',
        context: {
            trans_default_domain: trans_default_domain,
            locale: locale,
            structure: 'structure:-VrbHH8B_Z8L5WrB3FMp',
        },
    })) }}
{%- endblock %}
