{% extends '@EMSCH/template/blocks/abstract-block.html.twig' %}

{% block widget %}
    {{ item.object.body|default('')|emsch_routing }}
{% endblock widget %}

{% block children %}
    <div class="accordion mb-3{% if item.object.title is not defined %} mt-4{% endif %}" id="accordion{{ item.id }}">
        {{ parent() }}
    </div>
{% endblock children %}

{% block child %}
    <h{{ headerBlockLevel }} id="{{ item.id }}" class="accordion-title">
        <a class="" type="button" data-toggle="collapse" href="#collapse{{ item.id }}" aria-expanded="false" aria-controls="collapse{{ item.id }}" id="heading{{ item.id }}">
            {{ item.object.title|default('') }}
        </a>
    </h{{ headerBlockLevel }}>
    {% set item = item|merge({object: item.object|filter((v, k) => k != "title")}) %}
    {% set headerBlockLevel = headerBlockLevel + 1 %}
    <div id="collapse{{ item.id }}" class="collapse" aria-labelledby="heading{{ item.id }}" data-parent="#accordion{{ parent.id }}">
        <div class="p-3 bg-white">
            {{ parent() }}
        </div>
    </div>
{% endblock child %}

