{% extends '@EMSCH/template/blocks/abstract-block.html.twig' %}

{% block row %}
    <section class="py-6">
        <div class="container">
            {% set row_class = 'row' %}
            {{ parent() }}
        </div>
    </section>
{% endblock %}

{% block title %}
    {% trans_default_domain trans_default_domain %}
    <div class="col-12 d-flex align-items-center mb-3">
        <h{{ headerBlockLevel }} class="text-base text-uppercase text-primary mb-0">{{ item.label }}</h{{ headerBlockLevel }}>
        <a href="{{ path('emsch_search_news', {'_locale': locale}) }}" class="ml-auto d-flex align-items-center font-family-secondary fleche-link">
            <div class="fleche-container fixed-width"><i class="fo fo-fleche text-xs" aria-hidden="true"></i></div>
            <span class="inline-block ml-2">{{ 'news.all'|trans }}</span>
        </a>
    </div>
{% endblock %}

{% block news_image %}
    {% trans_default_domain trans_default_domain %}
    {% if sourceNews.image|default(false) %}
        <div class="news-img border-main-after">
            <img alt="{{ 'news.image.alt'|trans({ '%title%': attribute(sourceNews, locale).title|default(''), '%date%': sourceNews.publication_date|date('format.news.date'|trans) })|escape('html_attr') }}" src="{{ ems_asset_path(sourceNews.image, newsImageConfig) }}" class="img-fluid">
        </div>
    {% endif %}
{% endblock %}

{% block news_body %}
    <div class="fleche-container">
        <i class="fo fo-fleche text-primary text-xs" aria-hidden="true"></i>
    </div>
{% endblock %}

{% block widget %}
    {%- import '@EMSCH/template/macros.twig' as macros -%}
    {% set news =  emsch_search('news',{
        "query" : { term : { ("show_#{locale}") : true } },
        "sort": { "publication_date": { "order": "desc", "missing": "_last", "unmapped_type": "long" } },
        "size":3
    }).hits.hits|default([])|map(v => {ouuid : v._id, source : v._source}) %}
    {% trans_default_domain trans_default_domain %}
    {% if news|length > 0 %}
        {% set newsFeed = [] %}
        {% set newsFeedOuuid = [] %}
        {% if item.object.highlighted_news is defined and item.type == 'news' %}
            {% for newsOuuid in item.object.highlighted_news|filter(n => n|emsch_get != null ) %}
                {% set newsFeed = newsFeed|merge([newsOuuid|emsch_get]) %}
                {% set newsFeedOuuid = newsFeedOuuid|merge([newsOuuid|split(':')|last]) %}
            {% endfor %}
        {% endif %}
        {% for n in news|filter(n => n.ouuid not in newsFeedOuuid) %}
            {% set newsFeed = newsFeed|merge([n]) %}
        {% endfor %}
        {% set docNews = newsFeed|first %}
        {% set sourceNews = docNews.source %}
        <div class="col-12 col-lg-8 pr-lg-5">
            <a href="{{ macros.emsRouting(docNews.ouuid, docNews.source, locale) }}" class="news news-highlight">
                {{ block ('news_image') }}
                <div class="news-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <h{{ headerBlockLevel + 1 }} class="news-title">{{ attribute(sourceNews, locale).title|default('') }}</h{{ headerBlockLevel + 1 }}>
                            <span class="news-date text-muted text-sm">{{ sourceNews.publication_date|date('format.news.date'|trans) }}</span>
                        </div>
                        <div class="col-lg-6">
                            <div class="news-intro mb-0 d-none d-lg-block">{{ attribute(sourceNews, locale).overview|default('')|emsch_routing }}</div>
                            {{ block( 'news_body' ) }}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-lg-4 pl-lg-5 border-lg-left">
            <div class="row">
                {% for docNews in newsFeed[1:2] %}
                    {% set sourceNews = docNews.source %}
                    <div class="col-md-6 col-lg-12 mt-5{% if loop.first %} mt-lg-0{% endif %}">
                        <a href="{{ macros.emsRouting(docNews.ouuid, docNews.source, locale) }}" class="news">
                            {{ block ('news_image') }}
                            <div class="news-body">
                                <h{{ headerBlockLevel + 1 }} class="news-title">{{ attribute(sourceNews, locale).title|default('') }}</h{{ headerBlockLevel + 1 }}>
                                <span class="news-date text-muted text-sm">{{ sourceNews.publication_date|date('format.news.date'|trans) }}</span>
                                {{ block( 'news_body' ) }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}