{%- extends '@EMSCH/template/blocks/abstract-block.html.twig' -%}

{%- block row -%}
    {%- trans_default_domain trans_default_domain -%}
    {%- set tableId = item.id -%}
    {%- set tableType = item.object.table_type|default(false) -%}
    {%- set table = tableType ? attribute(tables, tableType) : false -%}

    {%- if tableType and table -%}
        <div class="row">
            <div class="col-xl-3 col-lg-4 mb-5 order-lg-2 order-xl-2">
                {{ block('_renderTableFilters') }}
            </div>
            <div class="col-xl-9 col-lg-8 order-lg-1 order-xl-1">
                <div class="row">
                    <div class="col-12 mb-5">
                        {{ block('_renderTable') }}
                        <div id="table-mobile-{{ tableId }}"></div>
                    </div>
                </div>
            </div>
        </div>
    {%- endif -%}
{%- endblock row -%}

{% block _renderTableMobile %}
    {%- trans_default_domain trans_default_domain -%}
    <div class="row bg-light border-bottom d-sm-none">
        <div class="col-12">
        {%- for row in data -%}
            <div class="bg-white p-3 border-bottom mb-3 border-top">
                <h2 class="text-base mb-3">{{ row[0]|raw }}</h2>
                <div class="table-responsive">
                    <table class="table text-sm table-brochure">
                        <tbody>
                            {%- if table.columns[1] is defined and row[1]|default(false) -%}
                                <tr>
                                    <th>{{ "search.columns.#{table.columns[1]}"|trans }}</th>
                                    <td>{{ row[1]|default('')|raw }}</td>
                                </tr>
                            {%- endif -%}
                            {%- if table.columns[2] is defined and row[2]|default(false) -%}
                                <tr>
                                    <th>{{ "search.columns.#{table.columns[2]}"|trans }}</th>
                                    <td>{{ row[2]|default('')|raw }}</td>
                                </tr>
                            {%- endif -%}
                            {%- if table.columns[3] is defined and row[3]|default(false) -%}
                                <tr>
                                    <th>{{ "search.columns.#{table.columns[3]}"|trans }}</th>
                                    <td>{{ row[3]|raw }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {%- endfor -%}
        </div>
    </div>
{% endblock %}

{% block _renderTable %}
    {%- trans_default_domain trans_default_domain -%}
    <div class="table-datatable d-none d-sm-block">
        <div class="table-responsive">
            <table id="table-{{ tableId }}" class="ajax-table table datatable" style="width: 100%"
                    data-url="{{ path('emsch_search_ajax_table', {'targetGroup' : target, 'type': tableType, 'id': tableId}) }}"
                    data-dom="{{ 'r<"table_wrapper"t><"table_paging"p>'|e('html') }}"
                    data-column-defs="{{ [{ targets: "themes", sortable: false }]|json_encode  }}"
                    data-language="{{ tableTranslations|json_encode }}">
                <thead>
                <tr>
                    {%- for column in table.columns|default([]) -%}
                        <th class="{{ column }}">{{ "search.columns.#{column}"|trans }}</th>
                    {%- endfor -%}
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block _renderTableFilters %}
    {%- trans_default_domain trans_default_domain -%}
    <form class="table-filter-form" data-table-id="table-{{ tableId }}">
        <div class="search-filters">
            <h2 class="sr-only">{{ 'search.filter.title'|trans }}</h2>
            <div class="search-filter-group">
                <div class="search-filter-input input-group mb-3">
                    {{ block("searchForm", "@EMSCH/template/search/search-blocks.twig") }}
                </div>
                <div class="d-flex align-items-center text-sm">
                    <div class="{{ "table-total-#{tableId}" }}">{# injected on ajax request #}</div>
                    <a data-toggle="collapse" href="#{{ "filters-#{tableId}" }}" role="button" aria-expanded="true" aria-controls="{{ "filters-#{tableId}" }}" class="text-decoration-none text-body font-weight-semi ml-auto">
                        <i class="fo fo-filter mr-2" aria-hidden="true"></i>{{ 'search.filter.title'|trans }}
                    </a>
                </div>
            </div>
            <div class="collapse show search-filters-collapse-container" id="{{ "filters-#{tableId}" }}">{# injected on ajax request #}</div>
        </div>
    </form>
{% endblock %}